* {
	padding: 0;
	margin: 0;
	border: 0;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

ul,
li {
	list-style: none;
}

/* Цвет основного текста #212121 */
/* Вторичный цвет текста #757575 */
/* Акцент #2196F3 */

/* белый #FFFFFF */
/* белый футер  rgba(255, 255, 255, 0.6); */

/* главный цвет фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA */
/* цвет фона футера, hero #2F303A */

:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-white-color: #ffffff;
	--transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
}
.link {
	text-decoration: none;
}
.address {
	font-style: normal;
}

/* Page-header */
.page-header {
	border-bottom: 1px solid #ececec;
}
.container {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}
.main-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navigation {
	display: flex;
	align-items: center;
}

/* Logo */
.logo {
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	transition: var(--transition);
}
.logo:hover,
.logo:focus {
	color: var(--accent-color);
}
.navigation__logo-header {
	padding-top: 24px;
	padding-bottom: 25px;
	color: var(--title-text-color);
}
.logo__accent-web {
	color: var(--accent-color);
}

/* SITE-NAV */

.site-nav__list,
.site-contacts__list {
	display: flex;
	margin-left: 93px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.site-nav__list .site-nav__item + .site-nav__item {
	margin-left: 50px;
}
.site-nav__link.current {
	position: relative;
}
.site-nav__link.current::after {
	bottom: 0;
	left: 0;
	position: absolute;
	display: block;
	content: "";
	width: 100%;
	height: 4px;

	border-radius: 2px;
	background: #2196f3;
}

.site-nav__list .site-nav__link {
	transition: var(--transition);
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	color: var(--title-text-color);
}

/* SITE-CONTACTS */
.site-contacts__list {
	display: flex;
	margin-right: auto;
}
.site-contacts__list .site-contacts__item + .site-contacts__item {
	margin-left: 50px;
}
.site-contacts__list .site-contacts__link {
	transition: var(--transition);
	display: flex;
	padding-top: 32px;
	padding-bottom: 32px;
	color: var(--primary-text-color);
}

.site-contacts__icon-mail,
.site-contacts__icon-tell {
	fill: currentColor;
	width: 16px;
	height: 12px;
	margin-right: 10px;
	background-size: contain;
}
.site-contacts__link:hover .site-contacts__icon-mail,
.site-contacts__link:hover .site-contacts__icon-tell,
.site-contacts__link:focus .site-contacts__icon-mail,
.site-contacts__link:focus .site-contacts__icon-tell {
	fill: var(--accent-color);
}

.site-nav__link:hover,
.site-nav__link:focus,
.site-contacts__list .site-contacts__link:hover,
.site-contacts__list .site-contacts__link:focus,
.site-nav__list .site-nav__link.current {
	color: var(--accent-color);
}

.button {
	transition: var(--transition);

	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;

	border: 1px solid var(--accent-color);
	border-radius: 4px;
	background-color: var(--accent-color);
	color: var(--primary-white-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Footer */

.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #2f303a;
}
.block {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.footer-box {
	width: calc(50 - 45px) / 2;
}
.footer-box:last-child {
	width: calc(50%-15px);
}
.logo-footer {
	display: block;
	margin-bottom: 20px;
	color: var(--primary-white-color);
	font-style: normal;
}
.footer__link {
	transition: var(--transition);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
}
.full-white {
	color: var(--primary-white-color);
}
.footer__link:hover,
.footer__link:focus {
	color: var(--accent-color);
}
.footer__item {
	margin-bottom: 9px;
}
.footer__item:last-child {
	margin-bottom: 0;
}

/* Присоединяйтесь */
.join {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.143px;
	text-transform: uppercase;
	margin-bottom: 20px;

	color: var(--primary-white-color);
}
.join__list {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.join__link {
	background-position: center;
	justify-content: center;
	transition: var(--transition);
	display: flex;
	align-items: center;
	border-radius: 50%;

	width: 44px;
	height: 44px;
	background-color: rgba(255, 255, 255, 0.1);
}
.join__list .join__item + .join__item {
	margin-left: 10px;
}
.join__svg {
	fill: var(--primary-white-color);
}
.join__link:hover,
.join__link:focus {
	background-color: var(--accent-color);
}
.join__link:hover .join__svg,
.join__link:focus .join__svg {
	fill: var(--primary-white-color);
}

/* Подпишитесь на рассылку */
.subscribe__text {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.143px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: var(--primary-white-color);
}
.subscribe__form {
	display: flex;
	justify-content: center;
	align-items: center;
}
.subscribe__input {
	transition: var(--transition);
	padding: 10px 20px;
	width: 358px;

	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background-color: transparent;
	color: var(--primary-white-color);
}
.subscribe__input:hover,
.subscribe__input:focus {
	border-color: var(--accent-color);
}
.subscribe__input::placeholder {
	padding-left: 16px;
}
.subscribe__btn {
	position: relative;
	width: 200px;
	height: 50px;
	cursor: pointer;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 62px;
	padding-left: 29px;
	margin-left: 15px;
}
.subscribe__btn:hover,
.subscribe__btn:focus {
	background-color: var(--primary-white-color);
	color: var(--accent-color);
}
.subscribe__btn:hover + .subscribe__icon,
.subscribe__btn:focus + .subscribe__icon {
	fill: var(--accent-color);
}
.subscribe__icon {
	transition: var(--transition);
	position: absolute;
	top: 13px;
	right: 25px;
	width: 24px;
	height: 24px;
	cursor: pointer;
	fill: currentColor;
	background-size: contain;
}
