.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);

	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, 50%) scale(0.9);
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);

	min-width: 528px;
	min-height: 581px;
	padding: 40px;

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: #fff;
}
.modal__close {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;
}
.modal__icon-cross {
	width: 11px;
	height: 11px;
	background-size: contain;
	fill: #000000;
}

.modal__text {
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	color: var(--title-text-color);
}
.modal-form__field {
	position: relative;
	display: block;
	margin-bottom: 28px;

	font-weight: 400;
	font-size: 12px;
	line-height: 1.167;
	letter-spacing: 0.01em;
	color: var(--primary-text-color);
}
.modal-form__text {
	position: absolute;
	transform: translateY(calc(-100% - 4px));
}
.modal-form__input,
.modal-form__message {
	width: 100%;
	height: 40px;
	padding-left: 40px;

	font-weight: 400;
	font-size: 12px;
	line-height: 1.167;
	letter-spacing: 0.01em;
	border-radius: 4px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	transition: var(--transition);
}
.modal-form__input:focus,
.modal-form__message:focus {
	outline: none;
	border-color: var(--accent-color);
}
.modal-form__input:focus + .modal-form__input-icon {
	fill: var(--accent-color);
}
.close-modal:hover .icon-cross,
.close-modal:focus .icon-cross {
	fill: var(--accent-color);
}
.modal-form__message {
	height: 120px;
	margin-bottom: 10px;
	padding: 12px 16px;
	resize: none;
}
.modal-form__input-icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	width: 18px;
	height: 18px;
	transition: var(--transition);
}

.modal-form__check-policy {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
.modal-form__check-label {
	display: flex;
	align-items: center;
	margin-bottom: 30px;

	font-weight: 400;
	font-size: 14px;
	line-height: 1.714;
	letter-spacing: 0.03em;
	color: #757575;
}
.modal-form__policy-link {
	color: var(--accent-color);
}
.modal-form__check-policy:checked + .custom-checkbox {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
	background-size: contain;
	background-origin: border-box;
}
.modal-form__check-policy:focus + .custom-checkbox {
	border: 2px solid var(--accent-color);
}
.custom-checkbox {
	display: block;
	width: 16px;
	height: 16px;
	border: 1px solid var(--title-text-color);
	border-radius: 2px;
	margin-right: 6px;
	cursor: pointer;
	background-size: cover;
}
.modal-form__btn {
	transition: var(--transition);
	display: block;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 56px;
	padding-left: 55px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;

	border: 1px solid var(--accent-color);
	border-radius: 4px;
	color: var(--primary-white-color);
	background-color: var(--accent-color);
}
.modal-form__btn:hover,
.modal-form__btn:focus {
	border-color: var(--accent-color);
	background-color: var(--primary-white-color);
	color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
