.work {
	background-color: #f5f4fa;
}
.work__list {
	display: flex;
	text-align: center;
}
.work__item {
	flex-basis: calc((100% - 90px) / 4);
	background-color: var(--primary-white-color);
}
.work__list .work__item + .work__item {
	margin-left: 30px;
}
.work__list .work__item:hover {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.work__image {
	margin-bottom: 30px;
}
.work__title.work__indent {
	font-size: 16px;
	line-height: 1.19px;
}
.work__list .work__title {
	margin-bottom: 10px;
	color: var(--title-text-color);
	font-size: inherit;
	font-weight: 500;
}
.work__list .work__indent {
	margin-top: 0;
	margin-bottom: 16px;
	font-weight: 400;
}
